<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--所有配置內容寫在這個標籤內-->
<mapper namespace="cn.tedu.mybatisxml.mapper.CommentMapper">
    <insert id="insert">
        INSERT INTO comment (content,user_id,weibo_id)
        VALUES(#{content},#{uid},#{wid})
    </insert>

    <delete id="deleteById">
        DELETE FROM comment WHERE id=#{id}
    </delete>

    <update id="updateById">
        UPDATE comment SET content=#{content} WHERE id=#{id}
    </update>
</mapper>
